.alert.alert-info {
    margin-bottom: 8px;
}

#banner {
    padding: 10px;
    background-color: white;
    color: #000;
    z-index: 2;
    overflow: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 8px;
}

.posts-wrapper {
    width: 98%;
    margin: 0 auto;
    padding: 15px 0;
    border: 1px solid #DDD;
    border-radius: 5px;
}

.list-controls .nav-pills .navigation-toggle {
    flex: 0 1 auto;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#navigation-bar .ember-view a {
    border-radius: 5px;
    font-family: 'Jost*';
    font-weight: 400;
    padding-left: 8px;
    color: #444 !important;
}

.modal-inner-container {
    width: 90%;
    border-radius: 5px;
}

#suggested-topics {
    min-width: 98%;
    width: 98%;
}

.suggested-topics {
    clear: left;
    padding: 20px 0 15px 0;
    border: 1px #ddd solid;
    border-radius: 5px;
    padding-top: 2px;
    margin-bottom: 20px;
}



.loading-container.ember-view {
    width: 100%;
    margin: 0 auto;
}

.menu-panel {
    border-radius: 0;
}

.topic-post nav.post-controls .actions {
    display: -webkit-inline-box!important;
    display: inline-box;
}

.category-list .category-text-title .category-name {
    font-weight: bold;
}

.category-list .category-text-title .category-name {
    font-weight: bold;
}
