body.dark-knight {

    .btn-primary {
        color: var(--primary)
    }

    .btn-primary .d-icon {
        color: var(--primary)
    }

    .btn-primary:hover, .btn-primary.btn-hover {
        background-color: var(--tertiary-medium);
        color: var(--primary);
    }

    .nav-stacked a.active {
        color: var(--primary);
    }

    .nav-stacked a.active::after {
        border-left-color: var(--primary);
    }
    
    a:visited {
        color: var(--tertiary-hover);
    }

    a {
        color: var(--tertiary-hover);
    }
}
