@font-face {
    src: url($Jost-Book);
    font-family: 'Jost*';
    font-weight: 400;
}

@font-face {
  font-family: 'Material Design Icons';
  src: url($MD-Icons) format('truetype');
}

h3 {
    font-size: 16px;
    margin: 0;
    font-family: 'Jost*';
    font-weight: 400;
}

.d-header {
    box-shadow: none;
    border-bottom: 1px solid #DDD;
    transition: box-shadow 0.2s;
}

#search-button i::before,
#toggle-hamburger-menu i::before,
#toggle-messages-menu i::before {
    font-size: 22px;
    color: #4527A0;
}

#search-button,
#toggle-hamburger-menu,
#current-user,
#toggle-messages-menu {
    border-radius: 3600px;
    margin: 0 3px;
}

#search-button:hover,
#toggle-hamburger-menu:hover,
#current-user:hover,
#toggle-messages-menu:hover {
    background-color: #EEE !important;
}

#current-user a {
    border-color: transparent !important;
}

.header-dropdown-toggle a:hover {
    background: transparent !important;
}

.category-drop-header,
.tag-drop-header {
    border-radius: 5px;
    border-color: #DDD !important;
}

.category-drop-header.is-focused,
.tag-drop-header.is-focused {
    border-color: #666 !important;
    box-shadow: none !important;
}

.badge-category-parent-bg {
    border-radius: 2px 0 0 2px;
}

.badge-category-bg {
    border-radius: 2px;
}

.badge-category-parent-bg ~ .badge-category-bg {
    border-radius: 0 2px 2px 0;
}

.badge-notification.new-topic {
    color: #4527A0;
}

.badge-wrapper.bullet {
    display: flex;
    align-items: baseline;
}

.topic-list .badge-notification {
    height: 10px;
    width: 10px;
    margin: 0;
    padding: 4px;
    font-family: 'Jost*';
    font-weight: 400;
    top: 0;
}

.num.views {
    font-family: 'Jost*';
    font-weight: 400;
}

.title-wrapper *,
.category-name,
.selected-name,
.topic-list-item a.title,
.username,
.post-info.edits,
.post-date,
#create-topic {
    font-family: 'Jost*';
    font-weight: 400;
}

.moderator .regular > .cooked {
    background-color: lightyellow;
}

#create-topic {
    border-radius: 5px;
    background-color: #4527A0 !important;
    color: #FFF;
}

#create-topic i {
    color: #FFF;
    font-size: 17px !important;
    vertical-align: middle;
    line-height: 0 !important;
    margin-right: 5px;
    padding-bottom: 3px !important;
}

#create-topic svg {
    color: #FFF;
}

#navigation-bar .ember-view a {
    border-radius: 5px;
    font-family: 'Jost*';
    font-weight: 400;
    color: #444 !important;
}

#navigation-bar .ember-view a.active {
    background-color: #4527A0 !important;
    color: #FFF !important;
}

.contents.ember-view {
    border: 1px solid #DDD;
    border-radius: 5px;
    overflow: hidden;
}

.topic-list.ember-view > thead > tr > th,
.category-list .category,
.category-list .topics {
    font-family: 'Jost*';
    font-weight: 400;
    font-size: 16px;
    color: #444;
}

.topic-list.ember-view > tbody {
    border-top: 1px solid #DDD !important;
}

#navigation-bar .ember-view a:not(.active):hover {
    background-color: #C7BEE3 !important;
    color: #4527A0 !important;
}

.mdl-button--icon i {
    line-height: 32px;
    color: #4527A0;
}

#topic-title .title-wrapper {
    width: 800px;
    margin: 0 auto;
}

.posts-wrapper {
    width: 800px;
    margin: 0 auto;
    padding: 15px 0;
    border: 1px solid #DDD;
    border-radius: 5px;
}

.topic-body,
.topic-avatar {
    border-top: 0 !important;
}

.topic-post {
    padding: 0 15px;
}

.topic-post:not(:first-child),
.time-gap {
    border-top: 1px solid #DDD;
}


.time-gap {
    max-width: 800px !important;
}

.small-action .small-action-desc.timegap {
    font-family: 'Jost*';
    font-weight: 400;
}

.topic-status-info {
    border: 0;
}

.loading-container.ember-view {
    width: 800px;
    margin: 0 auto;
}

#topic-footer-buttons {
    width: 800px;
    margin: 0 auto;
}

#topic-footer-button-bookmark,
#topic-footer-button-share-and-invite,
#topic-footer-button-flag {
    border: 1px solid #DDD;
    background: transparent;
    border-radius: 5px;
    font-family: 'Jost*';
    font-weight: 400;
    color: #666;
}

#topic-footer-button-bookmark:hover,
#topic-footer-button-share-and-invite:hover,
#topic-footer-button-flag:hover {
    color: #444;
    background-color: #EEE;
}

#topic-footer-button-bookmark i,
#topic-footer-button-share-and-invite i,
#topic-footer-button-flag i,
#topic-footer-buttons .create.btn i,
.post-info.edits i::before {
    font-size: 17px;
    line-height: 0;
    vertical-align: middle;
    margin-right: 5px;
    padding-bottom: 3px;
}

#topic-footer-buttons .create.btn {
    float: right;
    border-radius: 5px;
    background-color: #4527A0 !important;
    margin-right: 0;
    font-family: 'Jost*';
    font-weight: 400;
    cursor: pointer;
}

.topic-notifications-button.ember-view {
    margin: 5px 0 0 0;
}

#topic-footer-buttons .topic-notifications-button .btn {
    border: 1px solid #DDD;
    border-radius: 5px;
    background: transparent;
    outline: none !important;
}

.with-shadow {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.alert.alert-info.clickable a {
    color: #4527A0;
    font-family: 'Jost*';
    font-weight: 400;
}

.alert.alert-info {
    background-color: #C7BEE3;
}

.topic-list .topic-list-item-separator td {
    border-bottom: 1px solid #999;
}

.topic-list .topic-list-item-separator td span {
    color: #999;
    text-transform: capitalize;
}

#suggested-topics {
    width: 800px;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 20px;
}

.suggested-topics-title {
    font-size: 18px;
    font-family: 'Jost*';
    font-weight: 400;
    margin: 0;
    padding: 5px 10px;
    border-bottom: 1px solid #DDD;
}

.suggested-topics table,
.suggested-topics .topics {
    margin: 0;
    padding: 0;
}

.suggested-topics-message {
    font-size: 16px;
    padding: 5px 10px;
    margin: 0;
    font-family: 'Jost*';
    font-weight: 400;
    color: #666;
}

#list-area {
    margin: 0;
}

.topic-map {
    border-radius: 5px;
    background: transparent;
    margin: 0 0 20px 0;
    border: 1px solid #DDD;
}

.topic-map section {
    background: transparent;
    border: 0;  
}

.topic-map section:not(:first-child) {
    border-top: 1px solid #DDD;
}

.topic-map .buttons .btn {
    background: transparent;
    border: 0;
    border-left: 1px solid #DDD;
}

.topic-map .buttons .btn i::before {
    font-size: 20px !important;
}

.topic-status i {
    margin-right: 5px;
    vertical-align: middle;
    color: #444;
}

.title-wrapper > h1 > div > span > .fa-lock::before {
    vertical-align: middle;
    padding-bottom: 5px;
    font-size: 22px;
    color: #444;
}

.post-menu-area {
    margin: 0 !important;    
}

.actions > .double-button:hover button {
    background-color: transparent !important;
}

.actions > .double-button > .like-count {
    font-family: 'Jost*';
    font-weight: 400;
    margin-right: 5px;
}

.post-controls button.share,
.post-controls button.show-more-actions,
.post-controls button.create-flag,
.post-controls button.bookmark,
.actions > .double-button > .toggle-like {
    padding: 0 7px !important;
    border: 1px solid #DDD;
    border-radius: 5px;
    height: 30px;
    margin: 0 5px;
}

.post-controls button.reply,
.post-controls button.show-replies {
    height: 30px;
    border: 1px solid #DDD;
    border-radius: 5px;
    font-family: 'Jost*';
    font-weight: 400;
    line-height: 30px;
    padding: 0 7px;
    color: #444 !important;
}

.post-controls button.reply i,
.post-controls button.show-replies i {
    color: #444 !important;
    display: inline-flex;
    vertical-align: bottom;
}

.embedded-posts .collapse-up {
    border-radius: 5px;
}

nav.post-controls button:active {
    box-shadow: none;
}

nav.post-controls button:not(.reply) i::before {
    font-size: 20px !important;
}

nav.post-controls .double-button button.has-like .d-icon {
    color: #FFF;
}

nav.post-controls .double-button button.has-like {
    background-color: #fa6c8d;
    border: 1px solid #fa6c8d;
}

blockquote::after,
blockquote::before {
    display: none;
}

blockquote,
code {
    border-radius: 5px;
    border: 1px solid #DDD;
}

blockquote {
    border-left: 5px solid #DDD;
}

aside .title {
    line-height: 100%;
    border-radius: 5px 5px 0 0;
    border: 1px solid #DDD;
    border-bottom: 0;
    border-left: 5px solid #DDD !important;
    font-family: 'Jost*';
    font-weight: 400;
}

aside blockquote {
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.lightbox img {
    border-radius: 5px;
} 

.lightbox .meta {
    border-radius: 0 0 5px 5px;
}

.select-kit-body {
    border-radius: 5px !important;
    overflow: hidden;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2) !important;
}

.select-kit-body ul {
    scrollbar-width: thin;
}

#topic-progress {
    border: 1px solid #DDD;
    border-radius: 5px 5px 0 0;
}

#topic-progress .nums {
    color: #4527A0;
}

#topic-progress .bg {
    background-color: #C7BEE3;
}

#dismiss-topics,
#topic-footer-buttons .pinned-button .btn{
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 5px;
    font-family: 'Jost*';
    font-weight: 400;
    color: #666;
    outline: none;
}

.category-list > tbody {
    border: 0;
}

.category-list > tbody .category {
    border-width: 8px;
}

.category-list > thead > tr > th.category {
    padding: 0 15px;
}

.category-list > thead > tr > th.topics,
.category-list > tbody .topics {
    padding-right: 15px;
}

.category-list .category-text-title .category-name {
    font-size: 18px;
}

.category-list div.category-description {
    font-family: Roboto;
    font-size: 14px;
}

.topic-status > i::before {
    vertical-align: top;    
}

#carbonads {
    border: 1px solid #DDD !important;
    border-radius: 5px;
}

.carbon-img img {
    border-radius: 3px;
}

#whos-online {
    padding: 10px !important;
    margin: 0;
    border: 1px solid #DDD;
    border-radius: 5px;
    margin-bottom: 15px;
}

#whos-online > span {
    margin-right: 10px;
}

.post-notice {
    background: #DDD;
    border-radius: 5px;
    max-width: 100%;
}

.topic-meta-data {
    align-items: center;
    height: 50px;
    padding: 0;
    padding-left: 10px;
}

.topic-meta-data .names .first.username {
    font-size: 15px;
}

.nationalflag-post {
    border-radius: 2px;
}

.discourse-tags > a::before {
    border-radius: 3600px;
    margin-bottom: 1px;
}

.edit-topic {
    float: right;
    background: rgba(200, 200, 200, 0.1);
    width: 35px;
    height: 35px;
    border-radius: 3600px;
    text-align: center;
    color: #666 !important;
    transition: background 0.2s;
}

.edit-topic:hover {
    background: #EEE;
}

blockquote::after, blockquote::before, .d-editor-preview div.poll[data-poll-type='multiple'] li[data-poll-option-id]::before, .expanded-quote div.poll[data-poll-type='multiple'] li[data-poll-option-id]::before, .d-editor-preview div.poll li[data-poll-option-id]::before, .expanded-quote div.poll li[data-poll-option-id]::before, .d-header .btn.sign-up-button::before, .fa-anchor::before, .fa-angle-double-down::before, .fa-angle-double-up::before, .fa-arrow-down::before, .fa-archive::before, .fa-arrows-h::before, .fa-arrow-up::before, .fa-asterisk::before, .fa-at::before, .fa-backward::before, .fa-ban::before, .fa-bar-chart-o::before,
.fa-chart-bar::before, .fa-bars::before, .fa-bed::before, .fa-bold::before, .fa-bookmark::before, .fa-briefcase::before, .fa-calendar::before, .fa-calendar-plus-o::before, .fa-caret-down::before, .fa-caret-right::before, .fa-caret-up::before, .fa-certificate::before, .fa-check::before, .fa-check-square::before, .fa-check-square-o::before, .fa-chevron-down::before, .fa-chevron-up::before, .fa-circle::before, .fa-circle-o::before,
.fa-far-circle::before, .fa-clipboard::before, .fa-close::before, .fa-clock-o::before, .fa-code::before, .fa-columns::before, .fa-copy::before, .fa-copyright::before, .fa-cog::before, .fa-comment::before, .fa-comment-o::before, .fa-compress::before, .fa-desktop::before, .fa-dot-circle-o::before,
.fa-far-dot-circle::before, .fa-download::before, .fa-ellipsis-h::before, .fa-envelope::before, .fa-envelope-o::before,
.fa-far-envelope::before, .fa-exclamation-circle::before, .fa-exclamation-triangle::before, .fa-expand::before, .fa-eye::before, .fa-eye-slash::before, .fa-fast-backward::before, .fa-fast-forward::before, .fa-file::before, .fa-file-text-o::before, .fa-flag::before, .fa-folder::before, .fa-forward::before, .fa-gavel::before, .fa-gear::before, .fa-globe::before, .fa-group::before, .fa-hand-o-right::before,
.fa-hand-point-right::before, .fa-header::before, .fa-heart::before, .fa-heart-o::before,
.fa-far-heart::before, .fa-italic::before, .fa-link::before, .fa-list::before, .fa-list-alt::before, .fa-list-ol::before, .fa-list-ul::before, .fa-lock::before, .fa-magic::before, .fa-mail-forward::before, .fa-map-marker::before, .fa-meh-o::before, .fa-microphone::before, .fa-microphone-slash::before, .fa-minus::before, .fa-mobile::before, .fa-moon-o::before, .fa-paint-brush::before, .fa-pencil-alt::before, .fa-pencil-square-o::before, .fa-picture-o::before, .fa-play::before, .fa-plus::before, .fa-power-off::before, .fa-question::before, .fa-question-circle::before, .fa-quote-right::before, .fa-random::before, .fa-refresh::before, .fa-reply::before, .fa-rocket::before, .fa-search::before, .fa-shield::before, .fa-sign-out::before, .fa-smile-o::before, .fa-square-o::before, .fa-sun-o::before, .fa-tag::before, .fa-tasks::before, .fa-television::before, .fa-thumbtack::before,
.fa-thumb-tack::before, .fa-times::before, .fa-times-circle::before, .fa-trash::before, .fa-trash-o::before, .fa-undo::before, .fa-unlock::before, .fa-unlock-alt::before, .fa-upload::before, .fa-user::before, .fa-user-plus::before, .fa-user-times::before, .fa-users::before, .fa-wrench::before, .mfp-arrow.mfp-arrow-left::before, .mfp-arrow.mfp-arrow-right::before, .mfp-close::before, .mfp-image-holder .mfp-title::before, .mfp-title a.image-source-link::before, .pika-next::before, .pika-prev::before, #reply-control .grippie::before, #reply-control .toggle-preview::before, .meta .expand::before, .meta .filename::before {
  font-family: 'Material Icons Outlined';
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  letter-spacing: normal;
  text-rendering: optimizeLegibility;
  text-transform: none;
  vertical-align: -0.302198em;
  white-space: nowrap;
  word-wrap: normal;
}

.fa-thumb-tack::before, 
.fa-thumbtack::before {
    font-family: 'Material Design Icons';
}

.fa-anchor {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-anchor::before {
  content: "av_timer";
}

.fa-angle-double-down {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-angle-double-down::before {
  content: "arrow_drop_down";
}

.fa-angle-double-up {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-angle-double-up::before {
  content: "arrow_drop_up";
}

.fa-arrow-down {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-arrow-down::before {
  content: "arrow_downward";
}

.fa-archive {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-archive::before {
  content: "archive";
}

.fa-arrows-h {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-arrows-h::before {
  content: "swap_horiz";
}

.fa-arrow-up {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-arrow-up::before {
  content: "arrow_upward";
}

.fa-asterisk {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-asterisk::before {
  content: "new_releases";
}

.fa-at {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-at::before {
  content: "person_pin";
}

.fa-backward {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-backward::before {
  content: "settings_backup_restore";
}

.fa-ban {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-ban::before {
  content: "not_interested";
}

.fa-bar-chart-o,
.fa-chart-bar {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-bar-chart-o::before,
.fa-chart-bar::before {
  content: "insert_chart";
}

.fa-bars {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-bars::before {
  content: "menu";
}

.fa-bed {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-bed::before {
  content: "airline_seat_flat";
}

.fa-bold {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-bold::before {
  content: "format_bold";
}

.fa-bookmark {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-bookmark::before {
  content: "bookmark_border";
}

.fa-briefcase {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-briefcase::before {
  content: "work";
}

.fa-calendar {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-calendar::before {
  content: "event";
}

.fa-calendar-plus-o {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-calendar-plus-o::before {
  content: "event";
}

.fa-caret-down {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-caret-down::before {
  content: "arrow_drop_down";
}

.fa-caret-right {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-caret-right::before {
  content: "arrow_right";
}

.fa-caret-up {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-caret-up::before {
  content: "arrow_drop_up";
}

.fa-certificate {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-certificate::before {
  content: "brightness_high";
}

.fa-check {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-check::before {
  content: "check";
}

.fa-check-square {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-check-square::before {
  content: "check_box";
}

.fa-check-square-o {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-check-square-o::before {
  content: "check_box";
}

.fa-chevron-down {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-chevron-down::before {
  content: "keyboard_arrow_down";
}

.fa-chevron-up {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-chevron-up::before {
  content: "keyboard_arrow_up";
}

.fa-circle {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-circle::before {
  content: "lens";
}

.fa-circle-o,
.fa-far-circle {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-circle-o::before,
.fa-far-circle::before {
  content: "radio_button_unchecked";
}

.fa-clipboard {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-clipboard::before {
  content: "content_paste";
}

.fa-close {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-close::before {
  content: "close";
}

.fa-clock-o {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-clock-o::before {
  content: "access_time";
}

.fa-code {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-code::before {
  content: "code";
}

.fa-columns {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-columns::before {
  content: "view_column";
}

.fa-copy {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-copy::before {
  content: "content_copy";
}

.fa-copyright {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-copyright::before {
  content: "copyright";
}

.fa-cog {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-cog::before {
  content: "settings";
}

.fa-comment {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-comment::before {
  content: "comment";
}

.fa-comment-o {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-comment-o::before {
  content: "comment";
}

.fa-compress {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-compress::before {
  content: "fullscreen_exit";
}

.fa-desktop {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-desktop::before {
  content: "desktop_mac";
}

.fa-dot-circle-o,
.fa-far-dot-circle {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-dot-circle-o::before,
.fa-far-dot-circle::before {
  content: "radio_button_checked";
}

.fa-download {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-download::before {
  content: "file_download";
}

.fa-ellipsis-h {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-ellipsis-h::before {
  content: "more_horiz";
}

.fa-envelope {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-envelope::before {
  content: "mail";
}

.fa-envelope-o,
.fa-far-envelope {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-envelope-o::before,
.fa-far-envelope::before {
  content: "mail_outline";
}

.fa-exclamation-circle {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-exclamation-circle::before {
  content: "error";
}

.fa-exclamation-triangle {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-exclamation-triangle::before {
  content: "warning";
}

.fa-expand {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-expand::before {
  content: "fullscreen";
}

.fa-eye {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-eye::before {
  content: "visibility";
}

.fa-eye-slash {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-eye-slash::before {
  content: "visibility_off";
}

.fa-fast-backward {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-fast-backward::before {
  content: "skip_previous";
}

.fa-fast-forward {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-fast-forward::before {
  content: "skip_next";
}

.fa-file {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-file::before {
  content: "insert_drive_file";
}

.fa-file-text-o {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-file-text-o::before {
  content: "description";
}

.fa-flag {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-flag::before {
  content: "flag";
}

.fa-folder {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-folder::before {
  content: "archive";
}

.fa-forward {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-forward::before {
  content: "fast_forward";
}

.fa-gavel {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-gavel::before {
  content: "gavel";
}

.fa-gear {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-gear::before {
  content: "settings";
}

.fa-globe {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-globe::before {
  content: "public";
}

.fa-group {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-group::before {
  content: "group";
}

.fa-hand-o-right,
.fa-hand-point-right {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-hand-o-right::before,
.fa-hand-point-right::before {
  content: "send";
}

.fa-header {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-header::before {
  content: "format_size";
}

.fa-heart {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-heart::before {
  content: "favorite";
}

.fa-heart-o,
.fa-far-heart {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-heart-o::before,
.fa-far-heart::before {
  content: "favorite_border";
}

.fa-italic {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-italic::before {
  content: "format_italic";
}

.fa-link {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-link::before {
  content: "link";
}

.fa-list {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-list::before {
  content: "list";
}

.fa-list-alt {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-list-alt::before {
  content: "list";
}

.fa-list-ol {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-list-ol::before {
  content: "format_list_numbered";
}

.fa-list-ul {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-list-ul::before {
  content: "format_list_bulleted";
}

.fa-lock {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-lock::before {
  content: "lock_outline";
}

.fa-magic {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-magic::before {
  content: "brush";
}

.fa-mail-forward {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-mail-forward::before {
  content: "forward";
}

.fa-map-marker {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-map-marker::before {
  content: "place";
}

.fa-meh-o {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-meh-o::before {
  content: "sentiment_neutral";
}

.fa-microphone {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-microphone::before {
  content: "mic";
}

.fa-microphone-slash {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-microphone-slash::before {
  content: "mic_off";
}

.fa-minus {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-minus::before {
  content: "remove";
}

.fa-mobile {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-mobile::before {
  content: "phone_iphone";
}

.fa-moon-o {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-moon-o::before {
  content: "brightness_3";
}

.fa-paint-brush {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-paint-brush::before {
  content: "brush";
}

.fa-pencil-alt {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-pencil-alt::before {
  content: "edit";
}

.fa-pencil-square-o {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-pencil-square-o::before {
  content: "edit";
}

.fa-picture-o {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-picture-o::before {
  content: "crop_original";
}

.fa-play {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-play::before {
  content: "play_arrow";
}

.fa-plus {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-plus::before {
  content: "add";
}

.fa-power-off {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-power-off::before {
  content: "power_settings_new";
}

.fa-question {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-question::before {
  content: "help_outline";
}

.fa-question-circle {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-question-circle::before {
  content: "help";
}

.fa-quote-right {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-quote-right::before {
  content: "format_quote";
}

.fa-random {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-random::before {
  content: "shuffle";
}

.fa-refresh {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-refresh::before {
  content: "refresh";
}

.fa-reply {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-reply::before {
  content: "reply";
}

.fa-rocket {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-rocket::before {
  content: "flight_takeoff";
}

.fa-search {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-search::before {
  content: "search";
}

.fa-shield {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-shield::before {
  content: "security";
}

.fa-sign-out {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-sign-out::before {
  content: "exit_to_app";
}

.fa-smile-o {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-smile-o::before {
  content: "insert_emoticon";
}

.fa-square-o {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-square-o::before {
  content: "check_box_outline_blank";
}

.fa-sun-o {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-sun-o::before {
  content: "brightness_5";
}

.fa-tag {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-tag::before {
  content: "label";
}

.fa-tasks {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-tasks::before {
  content: "assignment";
}

.fa-television {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-television::before {
  content: "tv";
}

.fa-thumbtack,
.fa-thumb-tack {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-thumbtack::before,
.fa-thumb-tack::before {
  content: "\F403";
}
.fa-thumbtack.unpinned,
.fa-thumb-tack.unpinned {
  -webkit-transform: none;
          transform: none;
}
.fa-thumbtack.unpinned::before,
.fa-thumb-tack.unpinned::before {
  content: "\F404";
}

.fa-times {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-times::before {
  content: "close";
}

.fa-times-circle {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-times-circle::before {
  content: "cancel";
}

.fa-trash {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-trash::before {
  content: "delete";
}

.fa-trash-o {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-trash-o::before {
  content: "delete";
}

.fa-undo {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-undo::before {
  content: "undo";
}

.fa-unlock {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-unlock::before {
  content: "lock_open";
}

.fa-unlock-alt {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-unlock-alt::before {
  content: "lock_open";
}

.fa-upload {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-upload::before {
  content: "attach_file";
}

.fa-user {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-user::before {
  content: "person";
}

.fa-user-plus {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-user-plus::before {
  content: "person_add";
}

.fa-user-times {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-user-times::before {
  content: "person_outline";
}

.fa-users {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-users::before {
  content: "people";
}

.fa-wrench {
  font-size: inherit !important;
  line-height: inherit !important;
}
.fa-wrench::before {
  content: "settings";
}

a {
    font-weight: 400;
}
