.fa-plus::before {
    content: "add";
    display: contents;
}

#banner {
    padding: 10px;
    background-color: white;
    color: #000;
    z-index: 2;
    overflow: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 8px;
}

.modal-inner-container {
    border-radius: 5px;
}


.timeline-container .topic-timeline {
    margin-left: 3em!important;
}

#topic-title .title-wrapper {
margin: 0!important
}

.posts-wrapper {
    margin: 0!important;
}

.discourse-no-touch .btn:hover,
.discourse-no-touch .btn.btn-hover {
    color:var(--secondary-high);
}
