.fa-plus::before {
    content: "add";
    display: contents;
}

#banner {
    padding: 10px;
    background-color: white;
    color: #000;
    z-index: 2;
    overflow: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 8px;
}

.modal-inner-container {
    border-radius: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;

}